.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.double-bounce-spinner {
    bottom: 50px;
    height: 80px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    z-index:10;
}
.double-bounce1, .double-bounce2 {
    background-color:#2ECC71;
}
.loaderContainer {
    background-color: #fff;
    height: 100%;
    position: absolute;
    top: 50px;
    width: 100%;
    z-index: 12;
}
.loaderMsg {
    bottom: 150px;
    color: #27ae60;
    font-family: lato;
    font-weight: 900;
    height: 30px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}
html {
    overflow-x:hidden;
}
img {
    max-width:100%;
}
html, body {
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  font-weight:900;
  background-color:#fafafa;
}
body {
  padding: 0;
}
#giftableHeader {
    padding-left: 0px;
    padding-right: 0px;
    background-color:#2ECC71;
    z-index:99999;
}
#giftableHeader a {
    color:#fff;
    outline:0;
}
.viewContainer {
    background:inherit;
}
.giftableNavContainer {
    background-color:#2ECC71;
    color:#fff;
}
.gf {
    background-color:#fff!important;
}
.form-control {
    font-size:16px;
}
input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}
.navbar-default .navbar-toggle {
    border-color:#fff!important;
}
.navbar-default .navbar-toggle:hover {
    background-color:inherit!important;
}
.navbar-nav {
    margin:0!important;
}
.navbar-collapse.in {
    overflow-x:hidden;
}
input, textarea, select {
    font-weight:300;
}
label {
    font-weight: 900;
}
.page {
    bottom:0;
    padding-top:50px;
    position:absolute;
    top:0;
    width:100%;
}
.header {
    z-index:10;
    position: relative;
}
/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* slide in from the bottom */
@keyframes slideOutRight {
    to      { transform: translateX(100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the left */
@keyframes slideInLeft {
    from    { transform:translateX(-100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

/* slide down from the top */
@keyframes slideInDown {
    from    { transform:translateY(0%); }
    to      { transform: translateY(100%); }
}

.ng-enter       { z-index: 7777; }
.ng-leave       { z-index: 8888; }

/* page specific animations ------------------------ */

/* home -------------------------- */
.page-main.ng-enter         { animation: scaleUp 0.5s both ease-in; z-index:9999;}
.page-main.ng-leave         { animation:slideOutLeft 0.5s both ease-in;}

/* about ------------------------ */
.page-people.ng-enter        { animation:slideInLeft 0.5s both ease-in; }
.page-people.ng-leave        { animation:slideOutLeft 0.5s both ease-in; }

/* contact ---------------------- */
.page-person.ng-enter        { animation:slideInUp 0.5s both ease-in; }
.page-person.ng-leave        { animation:slideInDown 0.5s both ease-in; }

.page-gift.ng-enter        { animation:slideInUp 0.5s both ease-in; }
.page-gift.ng-leave        { animation:slideInDown 0.5s both ease-in; z-index: 6666;}

.page-event.ng-enter        { animation:slideInUp 0.5s both ease-in; }
.page-event.ng-leave        { animation:slideInDown 0.5s both ease-in;z-index: 6666;}

.page-account.ng-enter        { animation:slideInUp 0.5s both ease-in; }
.page-account.ng-leave        { animation:slideInDown 0.5s both ease-in;z-index: 6666;}

.page-login.ng-enter        { animation:slideInUp 0.5s both ease-in; }
.page-login.ng-leave        { animation:slideInDown 0.5s both ease-in;z-index: 6666;}

.page-update-password.ng-enter        { animation:slideInUp 0.5s both ease-in; }
.page-update-password.ng-leave        { animation:slideInDown 0.5s both ease-in;z-index: 6666;}

.page-main .row {
    padding:30px;
}


/*Bootstrap overrides*/
.row {
    margin-left:0;
    margin-right:0;
}
.modal-dialog {
    margin: 60px auto;
}
.modalClose {
    position: absolute;
    right: 18px;
    top: 18px;
}
.navbar{
  margin-bottom:0;
}
.glyphicon {
    left:2px;
}
.giftableNav {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.logoNav {
    left: 0;
    position: absolute;
    top: 0;
}
.logoNav a:hover {
    background-color: inherit;
    color: inherit;
}
.giftableNav li {
    flex:1;
    height:100%;
    display:flex;
    align-items:center;
    justify-content: center;
}
.giftableNav li a {
    flex:1;
    text-decoration: none;
    height:100%;
    display: flex;
    align-items:center;
    justify-content:center;
}
.giftableNav li a:hover {
    color:#fff!important;
    background-color:#27ae60;
}
.giftableNav li:first-child a:hover {
    color:#fff!important;
    background-color: inherit;
}

.giftableNav li:nth-child(2) {
    margin-left: 50%;
}
.giftableNav > li > a {
    line-height:18px;
}
.giftableNav li span {
    padding-left: 5px;
}
.btn-primary {
    background-color:#3498db;
}
.btn-primary:hover {
    background-color:#2980b9;
}
.btn-default {
    background-color:#ecf0f1;
}
.btn-default:hover {
    background-color:#bdc3c7;
}
.btn-warning {
    background-color:#e67e22;
}
.btn-warning:hover {
    background-color:#d35400;
}
.btn-danger {
    background-color:#e74c3c;
}
.btn-danger:hover {
    background-color:#c0392b;
}
.panel {
    background-color:#ecf0f1;
}
.panel-default .panel-heading {
    background-color:#34495e;
    color:#ffffff;
}
.panel-footer {
    background-color:#34495e;
    color:#ffffff;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
.giftableNav .active a:focus, .giftableNav .active a:active {
    outline:0;
}
#giftableHeader .giftableNav .active a {
    background-color:#27ae60;
    color:#ffffff;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
/*index page*/
.appContainer {
  /*min-height: 600px;*/
  background: url('../pattern4.png') repeat center fixed;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color:#fafafa;
  transform: scale(1.1) rotate(0.01deg);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color:#34495e;
}
.navbar-default .navbar-nav > li > a {
  color:#fafafa;
  transition: all .2s ease-in-out;
}
.navbar .navbar-brand {
  color:#fafafa;
}
.navbar .navbar-brand:hover {
  color:#ffffff;
}
.navbar .navbar-brand:focus {
  color:#fafafa;
  outline:0;
}
.navbar-default {
  background-color:#2ecc71;
  border-color:#fafafa;
  height:40px;
  border:none;
  border-radius:0;
}
.giftableFooter {
  background-color:#2c3e50;
  height:auto;
  color:#ECF0F1;
}
.giftableFooter .row > div {
    text-align: left;
    padding-left:25px;
    padding-right:25px;
    padding-bottom:30px;
}
.subText {
    font-size: 0.8em;
    font-weight: 600;
    list-style: outside none none;
    padding-left: 0;
    padding-top: 10px;
}
.subText li {
    padding-bottom:10px;
}
/*Main page*/
.fa-gift {
    display: block;
    font-size: 9em;
    height: 140px;
    line-height: 1em;
    margin: 7% auto 0;
    width: 108px;
}
.topRowLead {
  font-size:2.3em;
  text-align:center;
  margin-bottom:7%;
}
.topRow {
  color:#ffffff;
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(../giftBoxes.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}
.peopleRow {
    background-color: #2ecc71;
    color: #fafafa;
    padding-top: 5%;
}
.eventRow {
  background-color:#2ecc71;
}
.eventPanel {
    margin:20px;
}
.eventPanel .panel-heading {
    position:relative;
}
.eventPanel .panel-heading h1 {
    margin-left:30px;
    margin-top:10px;
}
.reminderRow {
  background-color:#2ecc71;
  padding-bottom:10%;
}
.peopleRowLead {
    display: block;
    font-size: 2.3em;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    margin-bottom:5%;
}
.featureContainer {
    border-radius: 4px;
    color: #ffffff;
    padding-top:20%;
    text-align: center;
}
.featureContainer i {
  font-size:4em;
}
.featureContainer p {
  font-size:1.2em;
  text-align:justify;
}
.videoTitle {
    text-align:center;
    padding-bottom:20px;
}
.videoRow {
    background-color:#ecf0f1;
    padding-bottom:75px;
}
/*People Page*/
.people {
  transition: .2s linear all;
}
.people.ng-enter,
.people.ng-enter,
.people.ng-leave {
  -webkit-transition:all linear 0.3s;
  transition:all linear 0.3s;
}
.people.ng-leave.ng-leave-active,
.people.ng-enter {
  /* standard transition code */
  -webkit-transition: .3s linear all;
  transition: .3s linear all;
  opacity:0;
}
.people.ng-leave,
.people.ng-enter.ng-enter-active {
  /* standard transition styles */
  opacity:1;
}
.people.ng-leave-stagger {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}
.people.ng-enter-stagger {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}
.bootcards-list .form-control:focus {
  border-color:#ccc;
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.list-group-item {
  margin-left:0;
}
.list-group-item img {
  margin-left:15px;
}
.list-group-item:hover {
    cursor: pointer;
}
.topMargin20 {
  margin-top:20px;
}
.nav a {
  outline:none;
}
.delete {
  margin-right:30px;
  margin-top:3px;
}
.delete .slim {
  margin:0;
  width:auto;
}
.deleteBtn {
    position:absolute;
    left:15px;
    top:10px;
}
.itemFooter {
    position: relative;
}
.giftablePrimaryColor {
  background-color:#2ecc71;
  color:#fafafa;
  border-color:#6ABB92;
  transition: all 0.2s ease;
}
.giftablePrimaryColor:hover {
  background-color:#ffffff;
  color:#2ecc71!important;
  border: 1px dashed #2ecc71;
}
.giftablePrimarySolidColor {
  background-color:#2ecc71;
  color:#fafafa;
  border-color:#2ecc71;
  transition: all 0.2s ease;
}
.giftablePrimarySolidColor:hover {
  background-color:#288757;
  color:#ffffff!important;
  border: 1px solid #288757;
}
.giftableCancelColor {
  background-color:#555555;
  color:#fafafa;
  border-color:#555555;
  transition: all 0.2s ease;
}
.giftableCancelColor:hover {
  background-color:#777777;
  color:#ffffff!important;
  border: 1px solid #ffffff;
}
/*Person Page*/
.personHeader {
    background: #ecf0f1 none repeat scroll 0 0;
    margin: 20px 0;
    padding:15px;
    border:1px solid #d2d2d2;
    border-radius:5px;
    color:#2c3e50;
    position:relative;
}
.backButtonContainer {
    position: absolute;
    top: 0%;
    height:100%;
}
.backButton {
    font-size: 3em;
    position: absolute;
    text-align: center;
    top: 30%;
}
.giftEventBack {
    top:20%;
}
.backButton:hover {
    color:#999999;
    cursor:pointer;
}
.mainInfoContainer {
    margin-left:45px;
}
.gifteeName {
    margin-top:5px;
    font-weight:700;
}
.address {
    margin-left:10px;
}
.address:before {
    position:absolute;
    font-family:fontawesome;
    content:'\f041';
    margin-left:-10px;
}
.tiles {
    display:flex;
}
.tiles > div {
    flex:1;
    justify-content: center;
    text-align: center;
}
.eventsSummary > div {
    height: 100px;
    margin: 0 auto;
    vertical-align: middle;
    width: 100px;
}
.giftsSummary > div {
    height: 100px;
    margin: 0 auto;
    vertical-align: middle;
    width: 100px;
}
.giftCount {
    color: #2ecc71;
    font-size: 32px;
    padding-top: 10px;
}
.giftLabel {
    font-size: 22px;
    font-weight: bold;
    line-height:22px;
}
.eventCount {
    color: #2ecc71;
    font-size: 32px;
    padding-top: 10px;
}
.eventLabel {
    font-size: 22px;
    font-weight: bold;
    line-height:22px;
}
.personEditControls {
    display: flex;
    padding-top:5px;
}
.personEditControls > div {
    justify-content: center;
    text-align: center;
    margin-right:5px;
}
.editPersonBtn {
    background-color:#e67e22;
    border-radius: 50%;
    color: #fff;
    height: 22px;
    width: 22px;
}
.editPersonBtn:hover {
    cursor:pointer;
    background-color:#d35400;
}
.deletePersonBtn {
    background-color: #e74c3c;
    border-radius: 50%;
    color: #fff;
    height: 22px;
    width: 22px;
}
.deletePersonBtn:hover {
    cursor:pointer;
    background-color:#c0392b;
}
.hiddenDayCounter {
    transition: all .2s ease-in-out;
    background-color: #2c3e50;
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
    width: 0px;
    color:#fafafa;
}
.daysUntilContainer {
    overflow:hidden;
    height:100%;
    font-size:20px;
    text-align: center;
    line-height:63px;
}
.giftInfo {
    position: relative;
}
.gift {
  transition: background-color .2s linear;
  padding-left: 15px;
}
.gift:hover > .hiddenDayCounter {
    width:400px;
}
.gift .red {
    background-color:#e74c3c;
}
.gift:hover .red .daysLabel:before {
    font-family:fontawesome;
    content:"\f06a";
    position: absolute;
    font-size: 24px;
    margin-left: -30px;
}
.gift:hover .green .daysLabel:before {
    font-family:fontawesome;
    content:"\f164";
    position: absolute;
    font-size: 24px;
    margin-left: -30px;
}
.gift:hover .yellow .daysLabel:before {
    font-family:fontawesome;
    content:"\f071";
    position: absolute;
    font-size: 24px;
    margin-left: -30px;
}
.gift .yellow {
    background-color:#f1c40f;
}
.gift .green {
    background-color: #2ecc71;
}
.itemContainerTitle {
    font-size: 18px;
    font-weight: 900;
    line-height: 34px;
    text-align: center;
}
.giftStatus:after {
    border: 2px solid #2c3e50;
    border-radius: 50%;
    color: #2ecc71;
    font-family: FontAwesome;
    font-size: 30px;
    height: 50px;
    line-height: 27px;
    position: absolute;
    top: 8px;
    left:10px;
    width: 50px;
}
.giftStatus {
    padding-left:70px!important;
}
.givenGift:after {
    content: "\f00c";
    padding: 9px;
}
.newGift:after {
    content:"\f0eb";
    padding: 9px 9px 9px 14px;
}
.orderedGift:after {
    content:"\f072";
    padding:11px 9px 9px 10px;
}
.readyGift:after {
    content:"\f0f4";
    padding:9px 9px 9px 7px;
}
.ratingControl i {
    color: #2980b9;
    font-size: 30px;
    padding: 5px;
}
.ratingControl i:hover {
    cursor:pointer;
}
.ratingContainer i {
    color: #2980b9;
    font-size: 18px;
    margin: 0;
    padding-left: 3px;
    padding-right: 3px;
    width: auto;
}
.giftCost {
    font-size: 30px;
    line-height: 30px !important;
    padding-top: 10px;
}
.addEventCard {
    background-color: #fff !important;
    border: 7px dashed #f5f5f5;
    cursor:pointer;
}
.eventDate {
    display: block;
    font-size: 32px;
    height: 72px;
    line-height: 32px;
    margin: 0 auto;
    text-transform: uppercase;
    width: 80px;
}
.editGiftee {
    position: absolute;
    right: 16px;
    top: 20px;
    cursor:pointer;
}
/*account page*/
.accountBlock {
  padding:10px;
  background-color:#ffffff;
  color:#555;
  padding:20px;
  margin-top:3%;
}
.calendarIcon {
    position: absolute;
    right: 38px;
    top: 0;
}
.calendarIcon .btn {
    border-radius: 0 4px 4px 0;
    width:43px;
}

#toast-container .giftable-success {
    background-color:#2ecc71;
    color:#fafafa;
    border-color:#27ae60;
    box-shadow: 0px 0px 7px -2px #000000;
}
#toast-container .giftable-success:before {
    font-family:fontAwesome;
    position:absolute;
    content:'\f164';
    left:30px;
}

#toast-container .giftable-error {
    background-color:#555555;
    color:#fafafa;
    border-color:#555555;
    box-shadow:none;
}
#toast-container .giftable-error:hover {
    background-color:#777777;
    color:#ffffff!important;
    box-shadow: 0px 0px 7px -2px #000000;
}
#toast-container .giftable-error:before {
    font-family:fontAwesome;
    position:absolute;
    content:'\f071';
    left:30px;
}
.giftable-close-toast {
    font-family:fontAwesome;
    position:absolute;
    content:'\f05c';
    left:30px;
}
button.toast-close-button {
    position: absolute;
    right: 15px;
    top: 10px;
}
.formAlert {
    display:block;
    padding: 5px;
    margin-bottom:10px;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
.relative {
    position:relative;
}
.topRowMessage {
    transition: all .2s ease-in-out;
    margin: 0 auto;
    padding-bottom: 100px;
}
.giftableAction {
    background: #47a2df;
    border: 1px solid #47a2df;
    display: block;
    margin: 0 auto;
    width: auto;
    transition: all .2s ease-in-out;
}
.giftableAction:hover {
    background: #ffffff;
    border:1px solid #ffffff;
    color:#333333;
}
.emptyResults {
    padding: 20px;
    width: 100%;
}
.emptyResults div {
    border: 2px dashed #d6d6d6;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    color:#999999;
}
.giftLinkBtn {
    border-radius: 0;
    bottom: 0;
    position: absolute;
    right: 0;
}
.giftLinkGroup {
    position:relative;
}
@media only screen and (max-width: 568px) {
    .giftablePrimaryColor span {
        display:none;
    }
    .giftablePrimaryColor i {
        text-align: center;
        width: 100%;
        padding: 0;
        margin: 0;
        height: 100%;
    }
    .gift:hover > .hiddenDayCounter {
        width:100%;
    }
    .giftableNav {
        align-items: center;
        display: flex;
        height: 50px;
        justify-content: center;
        list-style: outside none none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .logoNav {
        flex:1;
        position: inherit;
    }
    .navbar-brand:hover, .navbar-brand:focus {
        outline:0;
    }
    .logoNav a:focus {
        outline:0;
    }
    .giftableNav li {
        flex:1;
    }
    .giftableNav li:nth-child(2) {
        margin-left: 0;
    }
    .giftableNav li span {
        display:none;
    }
    .topRowMessage {
        transition: all .2s ease-in-out;
        padding-top: 0px;
    }
}
#doorbellClick > span, .githubLink {
    background-color: #2ecc71;
    border: 1px solid #2ecc71;
    border-radius: 4px;
    color: #fff;
    padding: 1px;
    white-space: nowrap;
    text-decoration: none;
}
#doorbellClick > span:hover, .githubLink:hover {
    background-color: #27ae60;
    border: 1px solid #27ae60;
    border-radius: 4px;
    color: #fff;
    white-space: nowrap;
    cursor:pointer;
    text-decoration: none;
}
