.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background-color:#fafafa;
}
body {
  padding: 0;
}

/*Bootstrap overrides*/
.container {
  /*width:970px!important;*/
}
.navbar{
  margin-bottom:0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
/*index page*/
.appContainer {
  min-height: 600px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color:#fafafa;
  transform: scale(1.1) rotate(0.01deg);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color:#555555;
}
.navbar-default .navbar-nav > li > a {
  color:#fafafa;
  transition: all .2s ease-in-out;
}
.navbar .navbar-brand {
  color:#fafafa;
}
.navbar .navbar-brand:hover {
  color:#ffffff;
}
.navbar .navbar-brand:focus {
  color:#fafafa;
  outline:0;
}
.navbar-default {
  background-color:#6abb92;
  border-color:#fafafa;
  height:40px;
  border:none;
  border-radius:0;
}
.giftableFooter {
  background-color:#555555;
  min-height:200px;
}
/*Main page*/
.fa-gift {
    display: block;
    font-size: 9em;
    height: 140px;
    line-height: 1em;
    margin: 7% auto 0;
    width: 108px;
}
.topRowLead {
  font-size:2.3em;
  text-align:center;
  margin-bottom:15%;
}
.topRow {
  background-color:#fafafa;
  color:#6abb92;
}
.peopleRow {
    background-color: #6abb92;
    color: #fafafa;
    margin-top: 5%;
    padding-top: 5%;
}
.eventRow {
  background-color:#6abb92;
}
.eventPanel {
    margin:20px;
}
.reminderRow {
  background-color:#6abb92;
  padding-bottom:10%;
}
.peopleRowLead {
    border: 4px solid #fafafa;
    border-radius: 4px;
    display: block;
    font-size: 2.3em;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    width: 60%;
    margin-bottom:5%;
}
.featureContainer {
    background-color: #fafafa;
    border-radius: 4px;
    color: #6abb92;
    padding: 25px;
    text-align: center;
}
.featureContainer i {
  font-size:4em;
}
.featureContainer p {
  font-size:1.2em;
  text-align:justify;
}
/*People Page*/
.people {
  transition: .2s linear all;
}
.people.ng-enter,
.people.ng-enter,
.people.ng-leave {
  -webkit-transition:all linear 0.3s;
  transition:all linear 0.3s;
}
.people.ng-leave.ng-leave-active,
.people.ng-enter {
  /* standard transition code */
  -webkit-transition: .3s linear all;
  transition: .3s linear all;
  opacity:0;
}
.people.ng-leave,
.people.ng-enter.ng-enter-active {
  /* standard transition styles */
  opacity:1;
}
.people.ng-leave-stagger {
    /* this will have a 100ms delay between each successive leave animation */
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;

    /* in case the stagger doesn't work then these two values
     must be set to 0 to avoid an accidental CSS inheritance */
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}
.people.ng-enter-stagger {
    /* this will have a 100ms delay between each successive enter animation */
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;

    /* in case the stagger doesn't work then these two values
     must be set to 0 to avoid an accidental CSS inheritance */
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}
.bootcards-list .form-control:focus {
  border-color:#ccc;
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.list-group-item {
  margin-left:0;
}
.list-group-item img {
  margin-left:15px;
}
.list-group-item:hover {
    cursor: pointer;
}
.topMargin20 {
  margin-top:20px;
}
.nav a {
  outline:none;
}
.delete {
  margin-right:30px;
  margin-top:3px;
}
.delete .slim {
  margin:0;
  width:auto;
}
.giftablePrimaryColor {
  background-color:#6ABB92;
  color:#fafafa;
  border-color:#6ABB92;
  transition: all 0.2s ease;
}
.giftablePrimaryColor:hover {
  background-color:#ffffff;
  color:#6ABB92!important;
  border: 1px dashed #6abb92;
}
.giftablePrimarySolidColor {
  background-color:#6ABB92;
  color:#fafafa;
  border-color:#6ABB92;
  transition: all 0.2s ease;
}
.giftablePrimarySolidColor:hover {
  background-color:#288757;
  color:#ffffff!important;
  border: 1px solid #288757;
}
.giftableCancelColor {
  background-color:#555555;
  color:#fafafa;
  border-color:#555555;
  transition: all 0.2s ease;
}
.giftableCancelColor:hover {
  background-color:#777777;
  color:#ffffff!important;
  border: 1px solid #ffffff;
}
/*Person Page*/
.gift {
  transition: background-color .2s linear;
  padding-left: 15px;
}
.addEventCard {
    background-color: #fff !important;
    border: 7px dashed #f5f5f5;
    cursor:pointer;
}
.eventDate {
    display: block;
    font-size: 32px;
    height: 72px;
    line-height: 32px;
    margin: 0 auto;
    text-transform: uppercase;
    width: 80px;
}
.editGiftee {
    position: absolute;
    right: 16px;
    top: 20px;
    cursor:pointer;
}
/*IMAGE CROPPER STYLE*/
/* Some of these styles you can override, things like colors,
 * however some styles are required for the structure, and are critical to this module behaving properly!
 */

/* Core component styles */
.ng-image-crop {
  text-align: center;
  margin: 0 auto;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* Each of the 3 steps in the process are contained within sections */
.ng-image-crop > section {
  background: #ccc;
}
/* The cropping button */
.ng-image-crop button {
  margin-top: 10px;
}
/* The dashed cropping guideline */
.ng-image-crop .cropping-guide {
  display: block;
  background: rgba(255, 255, 255, .3);
  border: 2px dashed white;
  position: absolute;
  pointer-events: none;
}
/* The circular themed cropping guideline */
.ng-image-crop--circle .cropping-guide {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* The canvas where the user positions the image via dragging and zooming */
.ng-image-crop .cropping-canvas {
  background: rgba(255, 255, 255, .3);
  margin: 0 auto;
  cursor: move;
}
/* The overlayed draggable zoom handle in the corner of the module */
.ng-image-crop .zoom-handle {
  display: block;
  position: absolute;
  bottom: 1px;
  left: 1px;
  background: rgba(255,255,255,0.7);
  width: 80px;
  height: 80px;
  cursor: move;
  border-radius: 200px 50px;
}
/* The text within the zoom handle */
.ng-image-crop .zoom-handle > span {
  color: rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: block;
  position: relative;
  top: 32px;
}
/*account page*/
.accountBlock {
  padding:10px;
  background-color:#ffffff;
  color:#555;
  padding:20px;
  margin-top:3%;
}
.calendarIcon {
    position: absolute;
    right: 38px;
    top: 0;
}
.relative {
    position:relative;
}
.block-ui-message-container,
.block-ui-message-container:before,
.block-ui-message-container:after {
  border-radius: 50%;
}
.block-ui-message-container:before,
.block-ui-message-container:after {
  position: absolute;
  content: '';
}
.block-ui-message-container:before {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.block-ui-message-container {
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.block-ui-message-container:after {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
