<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New Gift</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="eventTitle">Event Title</label>
            <input ng-model="data.title" type="text" id="eventTitle" class="form-control" placeholder="Title...">
          </div>
          <div class="form-group">
            <label for="eventDescription">Event Description</label>
            <input ng-model="data.description" type="text" id="eventDescription" class="form-control" placeholder="Description...">
          </div>
          <!--<input ng-model="data.event_date" type="text" placeholder="Event Date...">-->
          <div class="form-group">
            <label for="eventDate">Event Date</label>
            <p class="form-group">
              <input type="text" class="form-control" id="eventDate" datepicker-popup="{{format}}" ng-model="dt" is-open="status.opened" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="close('Cancel')" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" ng-click="close(data, dt)" class="btn btn-primary" data-dismiss="modal">Create</button>
      </div>
    </div>
  </div>
</div>
