<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New Gift</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="picture">Gift Picture</label>
            <image-crop
             data-width="300"
             data-height="300"
             data-shape="square"
             data-result="data.picture"
             data-step="imageCropStep" id="picture"
            ></image-crop>
            <p class="help-block">Upload a picture of the gift idea.</p>
          </div>
          <div class="form-group">
            <label for="giftTitle">Title</label>
            <input ng-model="data.title" type="text" id="giftTitle" class="form-control" placeholder="Title...">
          </div>
          <div class="form-group">
            <label for="giftDescription">Description</label>
            <input ng-model="data.description" type="text" id="giftDescription" class="form-control" placeholder="Description...">
          </div>
          <div class="form-group">
            <label for="giftCost">Cost</label>
            <input ng-model="data.cost" type="text" id="giftCost" class="form-control" placeholder="Cost...">
          </div>
          <div class="form-group">
            <label for="giftInterest">Interest Level</label>
            <input ng-model="data.interest_level" type="text" id="giftInterest" class="form-control" placeholder="Interest Level...">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="close('Cancel')" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" ng-click="close(data)" class="btn btn-primary" data-dismiss="modal">Create</button>
      </div>
    </div>
  </div>
</div>
