<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default eventPanel">
                <div class="panel-heading">
                    <h1>{{event.eventTitle}}</h1>
                </div>
                <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="eventDescription">Description</label>
                            <textarea name="eventDescription" class="form-control" ng-model="event.eventDescription" disabled="true"></textarea>
                        </div>
                        <div class="form-group">
                          <label for="eventDate">Event Date</label>
                          <p class="form-group relative">
                            <input type="text" class="form-control" id="eventDate" datepicker-popup="{{format}}" ng-model="event.eventDate" is-open="status.openedEventTime" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" disabled="true" />
                            <span class="input-group-btn calendarIcon">
                              <button type="button" class="btn btn-default" ng-click="openEvent()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                          </p>
                        </div>
                        <div class="form-group">
                          <label for="eventDate">Notification Date</label>
                          <p class="form-group relative">
                            <input type="text" class="form-control" id="eventNotificationDate" datepicker-popup="{{format}}" ng-model="event.notificationTime" is-open="status.openedNotification" min-date="minDate" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" disabled="true" />
                            <span class="input-group-btn calendarIcon">
                              <button type="button" class="btn btn-default" ng-click="openNotification()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                          </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <div>
</div>
