<div class="row topRow">
  <div class="page-header">
    <h1>You never forget people you love, but sometimes you forget dates on a calendar.</h1>
    <i class="fa fa-5x fa-gift"></i>
  </div>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="featureContainer">
      <i class="fa fa-2x fa-heart-o"></i>
      <h2>People You Love</h2>
      <p>Every person is unique.  Don't treat them like line items in a list!</p>
    </div>
  </div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="featureContainer">
      <i class="fa fa-2x fa-calendar-check-o"></i>
      <h2>Important Dates</h2>
      <p>Whether it's a Birthday, Anniversary, Graduation, or some unique day that you made up.  Giftable lets you remember people and also the days that matter to them.</p>
    </div>
  </div>
  <div class="col-sm-4"></div>
  <div class="col-sm-4"></div>
</div>
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="featureContainer">
      <i class="fa fa-2x fa-envelope-o"></i>
      <h2>Get reminders</h2>
      <p>Elephants may never forget, but let's be realistic.  Let giftable help you setup email reminders when your people's special days are approaching.</p>
    </div>
  </div>
</div>
