<div class="row topRow">
  <div class="topRowMessage">
    <i class="fa fa-5x fa-gift"></i>
    <p class="topRowLead">You forgot their birthday again, didn't you?</p>
    <button type="button" ng-click="join()" class="btn btn-secondary-outline btn-lg giftableAction">Join the Party</button>
</div>
</div>
<div class="row peopleRow">
  <p class="peopleRowLead">Keep track of all your gift ideas in one place.</p>
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <div class="featureContainer">
      <i class="fa fa-2x fa-heart-o"></i>
      <h2>People You Love</h2>
      <p>Every person is unique.  Don't treat them like line items in a list!</p>
    </div>
  </div>
  <div class="col-sm-6">
      <img src="./Giftable3.png">
  </div>
  <div class="col-sm-1"></div>
</div>
<div class="row eventRow">
  <div class="col-sm-1"></div>
  <div class="col-sm-6">
      <img src="./Giftable2.png">
  </div>
  <div class="col-sm-4">
    <div class="featureContainer">
      <i class="fa fa-2x fa-calendar-check-o"></i>
      <h2>Important Dates</h2>
      <p>Whether it's a Birthday, Anniversary, Graduation, or some unique day that you made up.  Giftable lets you remember people and also the days that matter to them.</p>
    </div>
  </div>
  <div class="col-sm-1"></div>
</div>
<div class="row reminderRow">
  <div class="col-sm-1"></div>
  <div class="col-sm-4">
    <div class="featureContainer">
      <i class="fa fa-2x fa-envelope-o"></i>
      <h2>Get reminders</h2>
      <p>Elephants may never forget, but let's be realistic.  Let giftable help you setup email reminders when your people's special days are approaching.</p>
    </div>
  </div>
  <div class="col-sm-6">
      <img src="./Giftable4.png">
  </div>
  <div class="col-sm-1"></div>
</div>
<div class="row videoRow">
    <div class="col-sm-1 col-md-2">
    </div>
    <div class="col-sm-10 col-md-8">
        <h2 class="videoTitle">How does it work?</h2>
        <div class="embed-responsive embed-responsive-16by9">
            <youtube-video class="embed-responsive-item" video-url="promoVideoUrl"></youtube-video>
        </div>
    </div>
    <div class="col-sm-1 col-md-2">
    </div>
</div>
<div class="navbar navbar-default navbar-fixed-bottom giftableFooter">
    <div class="row">
        <div class="col-sm-4">
            <div class="subheading">About</div>
            <p class="subText">Giftable is a personal project in solving the issue of forgetting important holidays.</p>
        </div>
        <div class="col-sm-4">
            <div class="subheading">Support</div>
            <ul class="subText">
                <li>Leave me feedback!</li>
                <li>Want to help fix a bug yourself?  Head over to the <a href="https://github.com/bpkennedy/giftable" target="_blank">github repo</a>.</li>
            </ul>
        </div>
        <div class="col-sm-4">
            <div class="subheading">Donations</div>
            <p class="subText">If you like this project, feel free to leave me a comment or buy me a beer!</p>
        </div>
    </div>
</div>
