<div class="container">
  <div class="bootcards-list topMargin20">
    <div class="panel panel-default">
      <div class="panel-body">
        <form>
          <div class="row">
            <div class="col-xs-9">
              <div class="form-group">
                <input type="text" class="form-control" ng-model="searchPeople" placeholder="Search Giftees">
                <i class="fa fa-search"></i>
              </div>
            </div>
            <div class="col-xs-3">
              <a class="btn btn-primary btn-block giftablePrimaryColor" ng-click="addGiftee()" tooltip-popup-delay='700' uib-tooltip="Create a Giftee">
                <i class="fa fa-plus"></i>
                <span>Add Giftee</span>
              </a>
            </div>
          </div>
        </form>
      </div>
      <div class="emptyResults" ng-show="!people.length">
          <div>You have no giftees!  Add some.</div>
      </div>
      <div class="list-group" id="people" ng-show="people.length">

        <a class="people gift list-group-item" ng-click="goToPerson(person.$id)" ng-repeat="person in people | reverse | filter: searchPeople">
            <h4 class="list-group-item-heading">{{person.firstName}} {{person.lastName}}</h4>
            <p class="list-group-item-text">{{person.city}} {{person.state}}</p>
        </a>
      </div>
    </div>
  </div>
  <p class="alert alert-danger" ng-show="err">{{err}}</p>
</div>
