<div class="container">
  <div class="row personHeader">
      <div class="col-md-4">
          <div class="">
              <h2 class="gifteeName">{{person.firstName}}  {{person.lastName}}</h2>
              <div class="details" ng-if="person.address || person.city || person.state || person.zipCode">
                  <div class="address">{{person.address}} {{person.city}} {{person.state}}, {{person.zipcode}}</div>
                  <div></div>
                  <div></div>
              </div>
              <div class="personEditControls">
                  <div class="editPersonBtn" ng-click="editGiftee()" tooltip-placement="left" tooltip-popup-delay='700' uib-tooltip="Edit Giftee"><i class="fa fa-pencil"></i></div>
                  <div class="deletePersonBtn" ng-click="deleteGiftee()" tooltip-placement="right" tooltip-popup-delay='700' uib-tooltip="Delete Giftee"><i class="fa fa-trash-o"></i></div>
              </div>
          </div>
      </div>
      <div class="col-md-8">
          <div class="tiles">
              <div class="eventsSummary">
                  <div>
                      <div class="eventCount">{{joinedEvents.length}}</div>
                      <div class="eventLabel">Events</div>
                  </div>
              </div>
              <div class="giftsSummary">
                  <div>
                      <div class="giftCount">{{joinedGifts.length}}</div>
                      <div class="giftLabel">Gifts</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="bootcards-list">
        <div class="panel panel-default">
          <div class="panel-body">
            <form>
              <div class="row">
                <div class="col-xs-1 itemContainerTitle">Events</div>
                <div class="col-xs-8">
                  <div class="form-group">
                    <input type="text" class="form-control" ng-model="searchEvents" placeholder="Search Events...">
                    <i class="fa fa-search"></i>
                  </div>
                </div>
                <div class="col-xs-3">
                  <a class="btn btn-primary btn-block giftablePrimaryColor" ng-click="addEvent()" tooltip-popup-delay='700' uib-tooltip="Create a new event">
                    <i class="fa fa-plus"></i>
                    Add Event
                  </a>
                </div>
              </div>
            </form>
          </div>
          <div class="emptyResults" ng-show="!joinedEvents.length">
              <div>{{person.firstName}} has no Events!  Add some.</div>
          </div>
          <div class="list-group" ng-show="joinedEvents.length">
            <a class="list-group-item gift" ng-click="goToEvent(event.$id)" ng-repeat="event in joinedEvents | filter: searchEvents">
              <div class="row giftInfo">
                <div class="col-sm-6">
                  <h4 class="list-group-item-heading">{{event.eventTitle}}</h4>
                  <p class="list-group-item-text">{{event.eventDate | date:'longDate'}}</p>
                </div>
              </div>
              <div class="hiddenDayCounter" ng-class="getProximityColor(event.eventDate)">
                  <div class="daysUntilContainer">
                      <div><span class="daysLabel" ng-bind="calculateDaysAway(event.eventDate)"></span> days left</div>
                  </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="bootcards-list">
        <div class="panel panel-default">
          <div class="panel-body">
            <form>
              <div class="row">
                  <div class="col-xs-1 itemContainerTitle">Gifts</div>
                <div class="col-xs-8">
                  <div class="form-group">
                    <input type="text" class="form-control" ng-model="searchGifts" placeholder="Search Gifts...">
                    <i class="fa fa-search"></i>
                  </div>
                </div>
                <div class="col-xs-3">
                  <a class="btn btn-primary btn-block giftablePrimaryColor" ng-click="addGift()" tooltip-popup-delay='700' uib-tooltip="Create a new gift">
                    <i class="fa fa-plus"></i>
                    Add Gift
                  </a>
                </div>
              </div>
            </form>
          </div>
          <div class="emptyResults" ng-show="!joinedGifts.length">
              <div>{{person.firstName}} has no Gifts!  Add some.</div>
          </div>
          <div class="list-group" ng-show="joinedGifts.length">
            <a class="list-group-item gift giftStatus" ng-class="getGiftStatusColor(gift.status)" ng-click="goToGift(gift.$id)" ng-repeat="gift in joinedGifts | filter: searchGifts">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="list-group-item-heading">{{gift.title}}</h4>
                  <p class="list-group-item-text">Hype:
                      <span class="ratingContainer">
                          <uib-rating state-on="'fa fa-thumbs-up'" state-off="'fa fa-thumbs-o-up'" ng-model="gift.interestLevel" max="max" readonly="isReadonly"></uib-rating>
                      </span>
                  </p>
                </div>
                <div class="col-sm-6">
                  <p class="list-group-item-text giftCost">{{gift.cost | currency}}</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p class="alert alert-danger" ng-show="err">{{err}}</p>
</div>
