<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default eventPanel">
                <form id="updatePassForm" name="updatePassForm">
                    <div class="panel-heading">
                        <h1>Update Password</h1>
                        <p>Check your email for the temporary password and use it below to change your password.</p>
                    </div>
                    <div class="panel-body">
                            <fieldset>
                                <p class="form-group">
                                  <label for="loginEmail">Email</label>
                                  <input id="loginEmail" name="email" type="email" ng-model="email" class="form-control" required />
                                  <span class="alert alert-danger formAlert" ng-show="updatePassForm.email.$touched && updatePassForm.email.$error.required">Must have an Email</span>
                                </p>
                                <p class="form-group">
                                  <label for="oldPass">Temporary Password</label>
                                  <input id="oldPass" name="oldPass" type="password" ng-model="oldPass" class="form-control" required />
                                  <span class="alert alert-danger formAlert" ng-show="updatePassForm.oldPass.$touched && updatePassForm.oldPass.$error.required">Must have a Temporary Password</span>
                                </p>
                                <p class="form-group">
                                  <label for="newPass">New Password</label>
                                  <input id="newPass" name="newPass" type="password" ng-model="newPass" class="form-control" required />
                                  <span class="alert alert-danger formAlert" ng-show="updatePassForm.newPass.$touched && updatePassForm.newPass.$error.required">Must have a new password</span>
                                </p>
                                <p class="form-group">
                                  <label for="confirmNewPass">Confirm New Password</label>
                                  <input id="confirmNewPass" name="confirmNewPass" type="password" ng-model="confirmNewPass" class="form-control" required />
                                  <span class="alert alert-danger formAlert" ng-show="updatePassForm.confirmNewPass.$touched && updatePassForm.confirmNewPass.$error.required">Must confirm new password</span>
                                </p>
                            </fieldset>
                    </div>
                    <div class="panel-footer itemFooter">
                        <div class="pull-right">
                            <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" ng-disabled="updatePassForm.$invalid" ng-click="updatePassword(email, oldPass, newPass, confirmNewPass)" class="btn btn-info" data-dismiss="modal">Update Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    <div>
</div>
